# Compiled Object files
*.o
*.obj

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.a
*.lib

# Executables
*.exe

# DUB
.dub
docs.json
__dummy.html
docs/

# Code coverage
=======
simplefixedsizearray.so
simplefixedsizearray.dylib
simplefixedsizearray.dll
simplefixedsizearray.a
simplefixedsizearray.lib
simplefixedsizearray-test-*
*.exe
*.o
*.obj
*.lst
